<!DOCTYPE html>
<html>
    <head>
        <title>
            Login Page
        </title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1 id="pagetitle"> Welcome to the login page</h1>
        <h1 > Please register if you are a new customer</h1>

    <a href="http://127.0.0.1:5000/login">Login Page</a>
    <a href="http://127.0.0.1:5000/register">Register Page</a>
        <form method="" action="">
            <label> Firstname</label>
            <input type="text" name="firstname" placeholder="Enter your first name" required>
            <label > Lastname</label>
            <input type="text" name="lastname" placeholder="Enter your last name" required><br><br>
            <label> Email</label>
            <input type="email" name="email" placeholder="Enter your email" required><br>
            <label> Password</label>
            <input type="password" name="password" placeholder="Enter your password" required>
            <lable>Group</lable>
            <select>
                <option> Diamond</option>
                <option> Gold</option>
                <option> Silver</option>
            </select><br>
            <label>Comment</label>
            <textarea name="comment" rows="1" cols="50" placeholder="Enter your comment here"></textarea><br>
        </form>
    </body>
</html>


